apiVersion: v1
kind: Secret
metadata:
  name: postgresql
type: Opaque
stringData:
  host: postgresql
  user: root
  password: changeme
---
apiVersion: v1
kind: Secret
metadata:
  name: azure
type: Opaque
stringData:
  account: changeme
  accountKey: changeme
  container: backup
